# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore cache, temp, and system files
*/__pycache__/
*.pyc
*.pyo
.DS_Store

# Ignore temporary notebook outputs
*.log
*.tmp
*.sqlite

# Ignore hidden directories
.vscode/
